
.favorite-button, .follow-unfollow-button {
    text-align: start;
    border-radius: 30px;
}
.favorite-button {
    width: 130px;
}
.follow-unfollow-button {
    width: 110px;
}
.favorite-button .col-8 {
    width: 90px;
}
.follow-unfollow-button .col-8 {
    width: 80px;
}
.favorite-button svg, .follow-unfollow-button svg {
    margin: 0em;
}