.fa-eye, .fa-eye-slash {
    padding: 0px;
    margin-top: 5px;
    font-size: x-large;
}
.fa-eye {
    margin-left: -13px;
}
.fa-eye:hover {
    color: blue;
    cursor: pointer;
}
.fa-eye-slash {
    margin-left: -15px;
}
.fa-eye-slash:hover {
    color: red;
    cursor: pointer;
}