.sneaker-style-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sneaker-style-card img {
    max-height: 300px;
    max-width: 100%;
}
.sneaker-style-card .btn {
    border-radius: 30px;
    margin-bottom: 0.5em;
}
.sneaker-style-card .btn svg {
    margin-left: 0.5em;
}