.user-card {
    margin: 1em 0em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.follow-unfollow-button {
    text-align: start;
    border-radius: 30px;
    width: 130px;
}
.follow-unfollow-button .col-8 {
    width: 90px;
}
.follow-unfollow-button svg {
    margin: 0em;
}